<div class="center">
  <div class="card">
    <form class="form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email ID</mat-label>
        <input matInput />
      </mat-form-field>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Ex. San Francisco" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
